Click==7.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
idlex==1.18
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
psycopg2==2.7.7
Pypubsub==4.0.0
six==1.11.0
sql-editor==0.0.5
SQLAlchemy==1.2.17
sqlparse==0.2.4
Werkzeug==0.14.1
wxPython==4.0.3
