<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get24</title>
</head>
<body>
index in /input page
<form action="calc" method="post">
    <label n1="n1">n1:</label>
    <input name="n1" id="n1" required><br />
    <label n2="n2">n2:</label>
    <input name="n2" id="n2" required><br />
    <label n1="n3">n3:</label>
    <input name="n3" id="n3" required><br />
    <label n1="n4">n4:</label>
    <input name="n4" id="n4" required><br />
    <input type="submit" value="calc"/>
</form>
</body>
</html>